:root {
    color-scheme: light dark;
    --base-font-size: 1em;
}

html {
    --link-color: #6242E7;
    --link-underline-color: #6242E7;
    --link-hover-color: #e9004a;
    --link-active-color: #b6003a;
    --link-visited-color: #6242E7;
    --main-bg-color: rgba(255, 255, 255, 0.95);
    --main-fg-color: #1f1f1f;
    --main-metadata-color: #787488;
    --listing-date-color: #787488;
    --main-hr-color: #957fef;
    --code-bg-color: #EDE8FF;
    --table-border-color: #957fef;
    --blockquote-border-color: #957fef;
    --notice-bg: #e0dafa;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    hanging-punctuation: first last;
}

body {
    font-size: var(--base-font-size);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

header.blog-header, main, footer.blog-footer {
    background-color: var(--main-bg-color);
    max-width: min(calc(40em + 10vw), calc(40em + 5rem));
    padding: 15px 15px;
    padding: min(5vh, 2.5rem) min(5vw, 2.5rem);
    color: var(--main-fg-color);
}

main {
    flex: 1;
}

header.blog-header {
    padding-top: calc(3vh + 1.5em);
    border-bottom: 1px dashed var(--main-hr-color);
}
footer.blog-footer {
    border-top: 1px dashed var(--main-hr-color);
    color: var(--main-metadata-color);
}
footer.blog-footer * {
    font-size: small;
}

.blog-header nav ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}    
.blog-header nav ul li {
    margin-right: 0.2em;
}
.blog-header nav ul li, .blog-header nav menu li, menu.social-icons li {
    list-style: none;
    display: inline;
}

.post-listing dt {
    color: var(--listing-date-color);
    font-variant-numeric: tabular-nums;
    font-feature-settings: tnum;
}

/* collapse post-listing on smaller screens */
@media screen and (max-width: 399px) {
    .post-listing dt, .post-listing dd { }
}
/* expanded 2-column post-listing on larger screens */
@media screen and (min-width: 400px) {
    dl.post-listing div {
        display: grid;
        -moz-columns: 2;
            columns: 2;
        align-items: start;
        justify-items: start;
        justify-content: start;
    }
    .post-listing dt {
        grid-column: 1;
        width: 12ch;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
    .post-listing dd {
        grid-column: 2;
        align-self: start;
        margin: 0.25em 0 0.25em min(1.5em, 5vw); /* desktop = 1.5em, mobile portrait = 5vw*/
    }
}

footer {
    border: none;
    font-size: medium;
    text-align: left;
    padding: 5vh 0;
}
article footer {
    padding-top: 0;
    /* padding-bottom: 5vh; */
}
article footer p {
    color: var(--main-metadata-color);
    font-style: italic;
}
article header p {
    margin: 0;
    color: var(--main-metadata-color);
    font-size: 0.9em;
}
span.end::after {
    content: ' ■';
    font-size: small;
}

/* focus styles */
:focus {
    outline: 2px solid;
    outline-offset: 0.15ch;
}
input:focus {
    /* outline: none; */
    /* border: 2px solid; */
    outline-offset: 0;
}
/* headings */
.blog-name {
    /*
    font-size: 2.313rem; 
    */
    font-size: 1.8rem !important;
    font-weight: 800;
    font-optical-size: 22pt;
}
h1 {
    /* font-size: 2.011rem; */
    /* font-size: 1.749em; */
    font-size: 1.521em;
}
h2, .looks-like-a-h2 {
    /* font-size: 1.521em; */
    font-size: 1.322em;
}
h3 {
    /* font-size: 1.322em; */
    font-size: 1.15em;
    /* font-weight: normal; */
}
h4 {
    font-size: 1.15em;
    font-style: italic;
    /* font-weight: normal; */
}
/* h4::before {
    content: "#### ";
    color: #aaa;
} */
h5, h6 {
    font-size: 1em;
    font-weight: bold;
    /* text-transform: lowercase; */
    /* font-variant: small-caps; */
}
h6 {
    font-weight: normal;
    font-style: italic;
}
h2:after, h3:after, h4:after, h5:after, h6:after {
    content: ' ';
}

article.not(header p) {
    line-height: 1.54;
}
blockquote {
    border-left: 1px dashed var(--blockquote-border-color);
    margin: 0.5em 0;
    padding: 0 1em;
}

/* lists */
ol ol {
    list-style: lower-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-greek;
}
ul ul {
    list-style: circle;
}
ul ul ul {
    list-style: square;
}
ul ul ul ul {
    margin-left: 0;
    text-indent: -1em;
    list-style-type: "- ";
    list-style-position: inside;
}
ul ul ul ul ul {
    margin-left: 0;
    text-indent: -1em;
    list-style-type: "+ ";
    list-style-position: inside;
}

/* links */

a {
    text-decoration: underline dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.01em;
    text-underline-offset: 0.15em;
    /* border-bottom: 1px dotted; */
    color: var(--link-color);
    /*
    text-decoration-color: var(--link-underline-color);
    */
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
a.blog-name {
    border: none;
    text-decoration: none;
}
a:visited {
    color: var(--link-visited-color);
}
a.readmore, a.tag {
    color: var(--main-metadata-color);
}
a:hover {
    color: var(--link-hover-color);
    text-decoration: underline solid;
    text-decoration-skip-ink: auto;
    /*
    text-decoration-color: var(--link-hover-color);
    */
    /* border-bottom: 1px solid; */
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
a:focus {
    color: var(--link-hover-color);
    text-decoration: none;
}
a:active {
    color: var(--link-active-color);
    /* border-bottom: 1px solid; */
    text-decoration: underline solid;
    text-decoration-skip-ink: auto;
    outline: none;
}

/* this is for Chrome */
@supports not (text-decoration-thickness: 0.01em) {
    a {
        border-bottom: 1px dotted;
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        border-bottom: 1px solid;
    }
    a:active {
        border-bottom: 1px solid;
        text-decoration: none;
    }
    a:focus {
        border: 0;
    }
}

/* rule */
hr {
    margin: 2.5em 0;
    border: none;
    border-top: 1px dashed var(--main-hr-color);
}

/* images, figures, captions */
article img.emoji {
    vertical-align: text-bottom;
    max-height: 1.25em;
    max-width: 1.25em;
    min-height: 1em;
    min-width: 1em;
    filter: drop-shadow(0 0 0px transparent);
}
img:not(.emoji) {
    max-width: 100%;
    /* text-align: center; */
    display: block;
    margin: 0 auto;
}
/* for broken images -- from https://bitsofco.de/styling-broken-images/ */
img:before {
    content: " ";
    display: block;
    position: absolute;
    /* top: -10em; */
    color: transparent;
    left: 0;
    width: 100%;
}
img:after {
    content: " Broken image:\A" attr(alt);
    display: block;
    white-space: pre-wrap;
    font-size: 0.9em;
    font-style: normal;
    border: 1px solid var(--main-hr-color);
    border-radius: 2px;
    text-align: center;
    padding: 1em;
}
figure {
    margin: 2em 0; padding: 0;
}
figcaption {
    text-align: center;
    font-size: 0.9em;
    padding: 1em;
}

/* Skip to content link adapted from CSS-tricks */
/* https://css-tricks.com/how-to-create-a-skip-to-content-link/ */
.skip-to-content {
    background:  var(--main-bg-color);
    font-weight: bold;
    padding: 1em;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.15s;
}
.skip-to-content:focus {
    transform: translateY(0%);
}

/* Header link */
.zola-anchor {
  margin-left: 0.33em;/**/
  opacity: 0;
  font-weight: normal;
}
.zola-anchor:after {
    content: '#';
}
.zola-anchor:focus {
    opacity: 1;
}
h1:hover .zola-anchor, h2:hover .zola-anchor, h3:hover .zola-anchor, h4:hover .zola-anchor, h5:hover .zola-anchor, h6:hover .zola-anchor {
/* header:hover .zola-anchor { */
  opacity: 1;
}

/* Code and preformatted text */
code {
    font-size: 0.9em;
    background: var(--code-bg-color);
    /*
    */
    padding: 0.20em;
    border-radius: 0.25em;
    font-family: 'Fira Code', 'Consolas', monospace; /* no webfonts here */
    font-weight: 400;
    /* TODO: move this to the fonts.css file */
}
pre code {
    background: transparent; /* fix for weird-looking code blocks in dark mode */
}
pre {
    /*
    background: var(--code-bg-color);
    */
    padding: 1em;
    white-space: pre-wrap;
    border-radius: 0.5em;
}
pre code {
    margin: 0 auto;
    padding: 0;
}

/*
pre code span:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
pre code:first-line {
    margin-left: 0;
    padding-left: 0;
}
*/


/* Table styling */
/* Inspired by LaTeX booktabs! */
table {
    border-top: 2px solid var(--table-border-color);
    border-bottom: 2px solid var(--table-border-color);
    margin: 0 auto;
    border-collapse: collapse;
}
td {
    padding: 0.2em 1.5ch;
}
tr:first-of-type td {
    border-top: 1px solid var(--table-border-color);
}

.nodisplay {
    display: none;
}

.notice {
    /* 
    border: 1px dashed var(--main-hr-color);
    */
    border-radius: 0.5em;
    padding: 0.25em 1em;
    margin: 1em 0;
    font-style: italic;
    background-color: var(--notice-bg);
}

.footnotes {
    font-size: small;
}

.doi {
    text-transform: lowercase;
    font-synthesis-small-caps: auto;
    font-weight: 465;
    font-variant: small-caps;
}

details summary {
    text-decoration: underline dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 0.01em;
    text-underline-offset: 0.15em;
}
details summary::after {
    content: " (click to toggle)";
}

/* next and previous post links */
article footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
article footer nav span {
    max-width: 48%;
}
article footer nav span:first-of-type {
    text-align: left;
}
article footer nav span:last-of-type {
    text-align: right;
}

main section {
    padding: 0.5em 0;
}

/* light and dark mode */

/* light styles */

@media screen and (prefers-color-scheme: light) {

html {
    --link-color: #6242E7;
    --link-underline-color: #6242E7;
    --link-hover-color: #e9004a;
    --link-active-color: #b6003a;
    --link-visited-color: #6242E7;
    --main-bg-color: rgba(255, 255, 255, 0.95);
    --main-fg-color: #1f1f1f;
    --main-metadata-color: #787488;
    --listing-date-color: #787488;
    --main-hr-color: #957fef;
    --code-bg-color: #EDE8FF;
    --table-border-color: #957fef;
    --blockquote-border-color: #957fef;
    --notice-bg: #e0dafa;
}

img {
    filter: drop-shadow(0 0 8px lightgrey);
    transition: opacity .1s ease-in-out;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23d4cbf8' fill-opacity='0.4'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*
 * theme "Ascetic Purple" generated by syntect
 */

.z-code {
 color: #202020;
 background-color: #ede8ff;
}

.z-comment {
 color: #6c687a;
}
.z-string {
 color: #6c687a;
}
.z-constant.z-numeric {
 color: #6c687a;
}
.z-meta.z-diff, .z-meta.z-diff.z-header {
 color: #6c687a;
}
.z-markup.z-changed {
 color: #e6db74;
}
.z-constant.z-numeric.z-line-number.z-find-in-files {
 color: #202020;
}
.z-entity.z-name.z-filename.z-find-in-files {
 color: #6c687a;
}

}



/* dark styles */

@media screen and (prefers-color-scheme: dark) {

html {
    --link-color: hsl(252, 73%, 75%);
    --link-hover-color: hsl(340, 100%, 54%);
    --link-active-color: red;
    --link-visited-color: hsl(252, 73%, 75%);

    --main-bg-color: rgba(0, 0, 0, 0.95);
    --main-fg-color: #ededed;
    --main-metadata-color: #ccc;
    --listing-date-color: #ccc;
    --main-hr-color: hsl(252, 100%, 71%);
    --code-bg-color: #333;
    --table-border-color: hsl(252, 100%, 71%);
    --blockquote-border-color: hsl(252, 100%, 71%);
    --notice-bg: #333;
}

img {
    filter: drop-shadow(0 0 8px black);
    transition: opacity .1s ease-in-out;
}

body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23454545' fill-opacity='0.4'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*
 * theme "Monokai" generated by syntect
 */

.z-code {
 color: #f8f8f2;
 background-color: #333;
}

.z-comment {
 color: #75715e;
}
.z-string {
 color: #e6db74;
}
.z-constant.z-numeric {
 color: #ae81ff;
}
.z-constant.z-language {
 color: #ae81ff;
}
.z-constant.z-character, .z-constant.z-other {
 color: #ae81ff;
}
.z-variable {
}
.z-keyword {
 color: #f92672;
}
.z-storage {
 color: #f92672;
}
.z-storage.z-type {
 color: #66d9ef;
font-style: italic;
}
.z-entity.z-name.z-class {
 color: #a6e22e;
font-style: underline;
}
.z-entity.z-other.z-inherited-class {
 color: #a6e22e;
font-style: underline;
font-style: italic;
}
.z-entity.z-name.z-function {
 color: #a6e22e;
}
.z-variable.z-parameter {
 color: #fd971f;
font-style: italic;
}
.z-entity.z-name.z-tag {
 color: #f92672;
}
.z-entity.z-other.z-attribute-name {
 color: #a6e22e;
}
.z-support.z-function {
 color: #66d9ef;
}
.z-support.z-constant {
 color: #66d9ef;
}
.z-support.z-type, .z-support.z-class {
 color: #66d9ef;
font-style: italic;
}
.z-support.z-other.z-variable {
}
.z-invalid {
 color: #f8f8f0;
}
.z-invalid.z-deprecated {
 color: #f8f8f0;
 background-color: #ae81ff;
}

}
