@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('/fonts/BricolageGrotesque_Latin.woff2') format('woff2-variations');
	font-weight: 200 800;
	font-stretch: 75% 100%;
    unicode-range: U+0020-007F,U+00A9;
    font-display: fallback;
}

@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('/fonts/BricolageGrotesque_Latin_ext.woff2') format('woff2-variations');
	font-weight: 200 800;
	font-stretch: 75% 100%;
    unicode-range: U+00A1-00A8,U+00AA-00FF;
    font-display: fallback;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;


    /* font settings and variable font features */
    -ms-font-feature-settings: "wdth" 100, "opsz" 16;
    -o-font-feature-settings:  "wdth" 100, "opsz" 16;
    font-feature-settings:     "wdth" 100, "opsz" 16;
    font-weight: 350;
    
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    font-synthesis: style;

}

.blog-name {
    font-weight: 800;
    -ms-font-feature-settings: "wdth" 80, "opsz" 24;
    -o-font-feature-settings:  "wdth" 80, "opsz" 24;
    font-feature-settings:     "wdth" 80, "opsz" 24;
}

.blog-footer, .footnotes {
    font-optical-size: 8pt;
    font-weight: 375;
}

/*
p, blockquote, li {
    font-variation-settings: "wght" 350;
}
* em, * i {
    font-variation-settings: "slnt" 100;
} */

em, i, .italic {
    font-variation-settings: "slnt" -8;
    font-style: italic;
}

