feed {
    font-size: 1em;
    background: white;
    line-height: 1.5;
    max-width: calc(72ch + 2em);
    margin: 0 auto;
    font-family: sans-serif;
}
@media (prefers-color-scheme: dark) {
    feed {
        background: black;
        color: #eee;
    }
}
generator, author { display: none; }
updated, id {
    display: block;
    font-style: italic;
}
published {
    display: block;
    font-style: italic;
    font-size: small;
    color: #787488;
    /*
    text-align: right;
    */
}
updated {
    display: none;
    /* text-align: center;
    color: grey;
    font-size: small;
    position: fixed;
    bottom: 0;
    padding: 1em; */
    /* background: white;
    width: calc(72ch + 2rem);
    margin: 0 auto; */
}
updated::before { content: "Last updated: "; }
id {
    text-align: center;
    font-size: medium;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #957fef;
    border-radius: 1rem;
    background: #ede8ff;
}
id::before { content: "You are viewing my blog’s feed! Subscribe to it by pasting the URL into your feed reader:\A" }
published::before { content: "Published " }
title {
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin: 1rem;
    padding: 0rem;
}
subtitle, rights {
    display: block;
    margin: 0 1rem;
    /* margin-bottom: 0; */
    padding: 0.5rem 1rem;
    font-style: italic;
}
rights {
    font-size: small;
    /* color: grey; */
}
entry {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 1px dotted #957fef;
    border-radius: 1rem;
}
entry title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0r;
}
entry id, entry updated { display: none; }
:focus { outline: 2px solid; outline-offset: 0.15ch; }
link {
    text-decoration: none;
    border-bottom: 1px dotted;
    /* color: {{ site.link_color }}; */
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
link:visited {
    /* color: {{ site.link_visited_color }}; */
}
link:hover {
    /* color: {{ site.link_hover_color }}; */
    border-bottom: 1px solid;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
link:focus {
    /* color: {{ site.link_hover_color }}; */
    border: none;
}
link:active {
    /* color: {{ site.link_active_color }}; */
    border-bottom: 1px solid;
    outline: none;
}
